@keyframes surface-gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-surface-gradient {
  background-size: 200% 200%;
  animation: surface-gradient 8s ease infinite;
}
